<%- layout("./layout/basic") %>
  <div class="row">
    <div class="col-6">
      <h3>Edit your post</h3>
      <form action="/listings/<%= list.id %>?_method=PUT" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Edit title</label>
          <input type="text" value="<%= list.title %>" name="lisitng[title]" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Edit Description</label>
          <input type="text" value="<%= list.description %>" name="lisitng[description]" class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Edit Imagge URL</label>
          <input type="text" value="<%= list.image.url %>" name="lisitng[image]" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Edit Price</label>
          <input type="number" value="<%= list.price %>" name="lisitng[price]" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Edit Location</label>
          <input type="text" value="<%= list.location %>" name="lisitng[location]" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Edit Country</label>
          <input type="text" value="<%= list.country %>" name="lisitng[country]" class="form-control" required />
        </div>

        <button type="submit" class="btn editBtn btn-dark">Edit<button>
      </form>
    </div>
  </div>

  <!-- <script src="/js/script.js"></script> -->