<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <h1>Show ejs</h1>
    <li><%=list.title %></li>
    <li>&#8377;<%= list.price.toLocaleString("en-IN") %></li>
    <li><%= list.description %></li>
    <li><%= list.location %></li>
    <li><%= list.country %></li>
    <a href="/listings/<%=list.id  %>/edit">Edit this post</a>
    <br /><br />
    <form action="/listings/<%= list.id %>?_method=DELETE" method="post">
      <button>Delete this Post</button>
    </form>
  </body>
</html>
